.header__nav-link{
     font-size: 12px;
     font-family: var(--mm);
     color: #191919;
     margin-right: 33px;
     text-transform: uppercase;
     transition: color 500ms;
 }
 .header__nav{
     padding: 17px 0 0 0;
  
 }
 .header__content{
     padding: 15px 0;
 }
 .header__nav-link:hover{
     color: #007d2f;
 }
 .header{
     background: url(../img/header__bg.jpg) no-repeat center / cover;
     background-attachment: fixed;
     padding: 5px 0;
 }